<%- include("../includes/header.ejs", {title:"Libraries - " + result[0].library_name}); %>
<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>

    <h1><%=result[0].library_name %></h1>
    <ul style="list-style-type: none">
    </ul>

    <a href="/object/add?library_id=<%=library_id%>">Add New Object</a>
    <div style="color:blue">
        <% if (recent_change) { %>
            Recent Change: <%=recent_change%>
        <% } %>
    </div>
    <br/>
    <table border="2">
        <tr><th><b>Objects: </b></th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/object/?object_id=<%= result[i].object_id %>"><%= result[i].object_name%></a></td>

            <td>
                <button onclick="event.preventDefault();window.location.href='/object/edit/?library_id=<%=library_id%>&object_id=<%= result[i].object_id %>'">Edit</button>
                <form action="/object/delete/" style="display:inline;">
                    <input type="hidden" name="object_id" id="object_id" value="<%= result[i].object_id %>" />
                    <input type="hidden" name="object_name" id="object_name" value="<%= result[i].object_name %>" />
                    <input type="hidden" name="library_id" id="library_id" value="<%= library_id %>" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        <% } %>
        <!--TODO: add the action: edit and delete buttons.-->
    </table>
</article>

<%- include("../includes/footer.ejs"); %>