<%- include("../includes/header.ejs", {title:"Libraries"}); %>

<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>


<h1>Libraries (<%= numLibraries %>) </h1>
        <a href="/library/add">Add New Library</a>
        <div style="color:blue">
            <% if (recent_change) { %>
            Recent Change: <%=recent_change%>
            <% } %>
        </div>
        <br/>
        <table border="2">
            <tr><th>Library Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/library/?library_id=<%= result[i].library_id %>"><%= result[i].library_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/library/edit/?library_id=<%= result[i].library_id %>'">Edit</button>
                    <form action="/library/delete/" style="display:inline;">
                        <input type="hidden" name="library_id" id="library_id" value="<%= result[i].library_id %>" />
                        <input type="hidden" name="library_name" id="library_name" value="<%= result[i].library_name %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
    <div style="color:blue">
        Average Objects Per Library: <%= avg_object%>
</article>
<%- include("../includes/footer.ejs"); %>