<%- include("../includes/header.ejs", {title:"Add New Library"}); %>

<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>

<h1>Add New Library</h1>
    <form action="/library/insert" method="get">
        Library Name: <input id="library_name" name="library_name" type="text" />
        <br />
        <br />
        <input type="submit" />
    </form>

</article>
<%- include("../includes/footer.ejs"); %>