<%- include("../includes/header.ejs", {title:"About"}); %>

<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>


    <h1>About Thingventory</h1>

    <p>
        This is the purpose of this website to to provide a place to keep track of all kinds of things.
        Here you will be able to create libraries and store objects of that type within them.
    </p>
    <p>
        This creators of Thingventory belong to a small independent
        development group based out of Sonoma, Ca.
    </p>
    <p>
        Below are links that display the structure of the underlying database:
        <ul>
            <li><a href=/images/my-erd.png>Entity Relationship Diagram</a></li>
            <li><a href="/images/my-rs.png">Relational Schema</a></li>
            <li><a href="/images/my-fdd.png">Functional Dependency Diagram</a></li>
        </ul>
    </p>

</article>
<%- include("../includes/footer.ejs"); %>
