<!DOCTYPE html>
<style>
    div.container {
        width: 100%;
        border: 1px solid lightslategray;
    }

    header, footer {
        padding: 1em;
        color: floralwhite;
        background-color: darkgrey;
        clear: left;
        text-align: center;
    }

</style>
<div class="container">
    <footer>Copyright &copy; LindseyBallardCreations</footer>
</div>
</html>