<%- include("../includes/header.ejs", {title:"Add New Object"}); %>
<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>


    <h1>Add New Object</h1>
    <form action="/object/insert" method="get">
        Object Name: <input id="object_name" name="object_name" type="text" />
        <br />
        <br />

        Quantity: <input id="quantity" name="quantity" type="text" />
        <br />
        <br />

        Unit Of Measure:
        <select id="unit_of_measure" name="unit_of_measure" type="text">
            <option value="inch">Inch</option>
            <option value="feet">Feet</option>
            <option value="yard">Yard</option>
            <option value="skein">Skein</option>
            <option value="ounce">Ounce</option>
            <option value="lbs">Lbs</option>
            <option value="unit">Unit</option>
        </select>

        <br />
        <br />
        <!--TODO: Make this a drop down.-->

        Color: <input id="color" name="color" type="text" />
        <br />
        <br />

         Composition: <input id="composition" name="composition" type="text" />
        <br />
        <br />

        <!-- This field is hidden from page, but needed to insert when form submits -->
        <input type="hidden" id="library_id" name="library_id" value="<%=library_id%>" />

        <input type="submit" />
    </form>
</article>
<%- include("../includes/footer.ejs"); %>