<%- include("../includes/header.ejs", {title:"Objects - " + result[0].object_name}); %>
<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>


<h1><b>Object: <%= result[0].object_name %> </b></h1>
    <ul style="list-style-type: none">
        <li><b>Object Name: </b><%= result[0].object_name %></li>
        <br />

        <li><b>Quantity: </b> <%= result[0].quantity %></li>
        <br />

        <li><b>Unit Of Measure: </b><%= result[0].unit_of_measure %></li>
        <br />

        <li><b>Color: </b> <%= result[0].color %></li>
        <br />

        <li><b>Composition: </b><%= result[0].composition %></li>
        <br />

    </ul>


<%- include("../includes/footer.ejs"); %>