<%- include("../includes/header.ejs", {title: "Update " + object.object_name}); %>


<article>
    <style>
        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            color:dimgrey;
            padding: 1em;
            overflow: hidden;
        }    </style>


<h1>Update <%= object.object_name%></h1>
<form action="/object/update" method="get">
    <input type="hidden" id="object_id" name="object_id" value="<%= object.object_id %>">
    Object Name: <input id="object_name" name="object_name" type="text" value="<%= object.object_name%>"/>
    <br />
    <br />
    Quantity: <input id="quantity" name="quantity" type="text" value="<%= object.quantity%>" />
    <br />
    <br />

    Unit Of Measure:
    <select id="unit_of_measure" name="unit_of_measure" type="text">
        <option <% if (object.unit_of_measure == "inch") { %> selected <% } %> value="inch">Inch</option>
        <option <% if (object.unit_of_measure == "feet") { %> selected <% } %> value="feet">Feet</option>
        <option <% if (object.unit_of_measure == "yard") { %> selected <% } %> value="yard">Yard</option>
        <option <% if (object.unit_of_measure == "skein") { %> selected <% } %> value="skein">Skein</option>
        <option <% if (object.unit_of_measure == "ounce") { %> selected <% } %> value="ounce">Ounce</option>
        <option <% if (object.unit_of_measure == "lbs") { %> selected <% } %> value="lbs">Lbs</option>
        <option <% if (object.unit_of_measure == "unit") { %> selected <% } %> value="unit">Unit</option>
    </select>
    <br />
    <br />
    <!--TODO: Make this a drop down.-->

    Color: <input id="color" name="color" type="text" value="<%= object.color%>" />
    <br />
    <br />

    Composition: <input id="composition" name="composition" type="text" value="<%= object.composition%>"/>
    <br />
    <br />

    <!-- This field is hidden from page, but needed to insert when form submits -->
    <input type="hidden" id="library_id" name="library_id" value="<%=library_id%>" />

    <input type="submit" />

</form>
</article>
<%- include("../includes/footer.ejs"); %>

</html>